///////////////////////////////////////////////////////////////////////////////
// # _settings.default.scss
//
// Your shouldn't modify this directly - you can try the other settings,
// like color.scss, typography.scss.
///////////////////////////////////////////////////////////////////////////////
$inuit-base-font-size        : $font-size;
$inuit-base-line-height      : $font-line-height;
$inuit-base-text-color       : $color-foreground;
$inuit-base-background-color : $color-background;

.noScroll{
    overflow: hidden;
    height: 100%;
}

.sections-container{
    height: 100%;
}

.main{
    height: 100%;
}

.section{
    height: 100%;
}

.section-heading{
    font-size: 32px;
    letter-spacing: 6px;
    padding: 50px 20px 20px;
    text-transform: uppercase;
    text-align: center;

    &--teal{
        color: $teal;
    }
}

.dash{
    height: 5px;
    background-color: $gold;
    border: $teal;
    width: 20%;
    margin: 10px auto 20px;
}

@media #{$viewport-mobile}{
    .section-heading{
        font-size: 24px;
    }
}
