///////////////////////////////////////////////////////////////////////////////
// # _settings.breakpoint.scss
//
// Breakpoint values required by the `break` mixin
///////////////////////////////////////////////////////////////////////////////
$break-small : 640px;
$break-large : 1024px;

$viewport-wide-screen: 'screen and (min-width: 1450px)';
$viewport-tablet-only: 'screen and (min-width: 768px) and (max-width: 1100px)';
$viewport-mobile: 'screen and (max-width: 780px)';
