///////////////////////////////////////////////////////////////////////////////
// # _settings.color.scss
//
// Your color palette should sit here and always follow the same namespace:
// `$color-`
///////////////////////////////////////////////////////////////////////////////
$color-background: #ffffff;
$color-foreground: #151515;


$teal: #4A606D;
$light-teal: #94B4C4;
$pastel-green: #AFB791;
$gold: #D1B849;
$white: #fff;
