/**
 * @module:   about
 * @js:       ./source/js/module/about/about.js
 * @html:     ./source/js/module/about/about.html
 */


@include module("about") {
    text-align: center;
    height: auto;

    .wrapper--about{
        background-color: $teal;
        // height: 50%;
    }

    .content-container--about{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding: 0 25px 80px;
    }

    .parallax--about{
        background-image: url("../img/bg-image.jpg");
        background-position: 0 0;
        background-size: cover;
        // background-repeat: no-repeat;
        height: 500px;
    }
}
