/**
 * @module:   home
 * @js:       ./source/js/module/home/home.js
 * @html:     ./source/js/module/home/home.html
 */


@include module("home") {
    background-image: url("../img/bg-image.jpg");
    background-size: cover;
    background-position: center;

    .logo{
        background-image: url("../img/TS_Shadowed-02.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 60%;
        width: 100%;
        max-width: 700px;
        margin: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
    }


    &__scroll-button{
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateY(-50%);
        color: red;
        background-image: url("../img/scroll-white.png");
        background-size: cover;
        background-position: center;
        height: 35px;
        width: 35px;
        cursor: pointer;

        &:hover{
            transition: 0.2s ease opacity;
            opacity: 0.7;
        }

    }
}
