/**
* @module:   nav
* @js:       ./source/js/module/nav/nav.js
* @html:     ./source/js/module/nav/nav.html
*/


@include module("nav") {
    z-index: 2;
    position: fixed;
    background-color: $teal;
    border: none;
    width: 100%;
    opacity: 0.6;
    transition: opacity 0.3s ease;

    .logo{
        background: url('../img/nav-logo--white.png');
        display: inline-block;
        width: auto;
        height: 65px;
        width: auto;
        z-index: 5;

        img{
            height: 100%;
            width: auto;
        }
        // visibility: hidden;
    }

    .nav-item-wrapper{
        margin-bottom: 0;
        float: right
    }

    .nav-item-container{
        margin: 0;
    }

    .nav-item{
        font-family: $font-primary;
        display: inline-block;
        list-style: none;
        padding: 25px 23px 20px;
        text-transform: uppercase;
        letter-spacing: 3px;

        a{
            text-decoration: none;
            color: #fff;
        }

        &:last-child{
            padding-right: 46px;
        }
    }

    &__scrolled{
        border-bottom: 1px solid $white;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .burger-container{
        display: none;
    }

    @media #{$viewport-wide-screen}{
        &.nav{

        }

        .logo{
            height: 85px;
        }

        .nav-item{
            padding: 35px 23px;
        }

    }

    @media #{$viewport-mobile}{
        &.nav{
            height: 100%;
            background-color: transparent;
        }

        .logo{
            width: 100%;
            background: $teal;
            position: fixed;
            z-index: 3;
        }

        .nav-item-wrapper{
            height: 100%;
            width: 100%;
            left: -100%;
            position: absolute;
            transition: all 1s ease;
            background-color: $teal;
            z-index: 2;

            &.active-nav{
                left: 0;
                transition: all 0.5s ease;
            }
        }

        .nav-item-container{
            display: block;
            position: absolute;
            top: 48%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            float: none;
            text-align: center;
            margin-left: 0;
            font-size: 20px;
            font-weight: bold;
        }

        .nav-item{
            display: block;
        }


        .burger-container{
            display: block;
            position: absolute;
            right: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            width: 65px;
            height: 65px;
            font-size: 0;
            text-indent: -9999px;
            appearance: none;
            box-shadow: none;
            border-radius: none;
            border: none;
            cursor: pointer;
            transition: background 0.3s;
            z-index: 4;

            &:focus{
                outline: none;
            }

            &.active-burger{
                background-color: $light-teal;

                .burger-bar{
                    background: none;
                }

                .burger-bar:before {
                  top: 0;
                  transform: rotate(45deg);
                }
                .burger-bar:after {
                    bottom: 0;
                   transform: rotate(-45deg);
                }

                .burger-bar:before, .burger-bar:after {
                    transition-delay: 0s, 0.3s;
                }

            }
        }


        .burger-bar {
            display: block;
            position: absolute;
            top: 30px;
            left: 10px;
            right: 10px;
            height: 6px;
            background: white;
            transition: background 0s 0.3s;
        }

        .burger-bar::before,
        .burger-bar::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 6px;
            background-color: #fff;
            content: "";
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s;
        }

        .burger-bar::before {
            top: -15px;
            transition-property: top, transform;
        }

        .burger-bar::after {
            bottom: -15px;
            transition-property: bottom, transform;
        }



        // .burger-container{
        //     display: block;
        //     position: absolute;
        //     right: 20px;
        //     top: 20px;
        // }
        //
        // .burger-bar{
        //     list-style: none;
        //     height: 5px;
        //     width: 50px;
        //     background-color: $white;
        //     margin: 5px 0;
        // }



    }

}
