/**
 * @module:   offer
 * @js:       ./source/js/module/offer/offer.js
 * @html:     ./source/js/module/offer/offer.html
 */


@include module("offer") {
    background-color: $teal;
    text-align: center;
    height: auto;
    padding-bottom: 80px;

    .offer-container{
        max-width: 1450px;
        padding: 0 20px;
        width: 100%;
        margin: 0 auto;
    }

    .offer-item{
        padding: 0 20px;
        margin: 30px 0;
    }

    .icon{
        width: 12%;
        margin-bottom: 20px;
    }

    .offer-title{
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

    .offer-description{
        font-size: 13px;
    }
}
