/**
 * @module:   projects
 * @js:       ./source/js/module/projects/projects.js
 * @html:     ./source/js/module/projects/projects.html
 */


@include module("projects") {

    background-color: $teal;
    color: $teal;
    height: auto;

    .slick-slider{
        margin-bottom: 0;
    }

    .section-heading{
        padding-top: 20px;
        color: $white;
    }

    .project{
        height: 33vw;
        border: 1px solid grey;
        padding: 20px;
        transition: all 1s ease;
        overflow: hidden;
        background-size: 100%;
        // background-position: center;

        &--chelsea{
            background-image: url('../img/project-bg-chelsea.jpg');

        }

        &--kensington{
            background-image: url('../img/project-bg-kensington.jpg');

        }

        &--fulham{
            background-image: url('../img/project-bg-fulham.jpg');
        }

        &:hover{
            background-size: 105%;

            .project-content-wrapper{
                transition: background-color 0.3s ease;
                background-color: rgba(255,255,255, 0.6);
            }
        }

    }

    .project-content-wrapper{
        height: 100%;
        width: 100%;
        display: table;
        transition: background-color 0.3s ease;
    }

    .project-content-container{
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .project__name{
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 6px;
    }

    .project__location{
        font-style: italic;
    }

    .projectLightBox{
        opacity: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        top: 0;
        left: 0;
        transition: all 1s ease-in;
    }

    .noPopupProject{
        height: 100%;
    }

    .popupProject{
        height: 100%;
        .projectLightBox{
            display: block;
            opacity: 1;
        }
    }

    .slick-next{
        right: 25px;
        // color: black;

        // &:before{
        //     content: "next"
        // }
    }

    .slick-prev{
        left: 25px;
        z-index: 2;
        // color: black;

        // &:after{
        //     content: "prev"
        // }
    }


}
