/**
 * @module:   projects
 * @js:       ./source/js/module/projects/projects.js
 * @html:     ./source/js/module/projects/projects.html
 */


@include module("projects") {
    background-color: $teal;
    color: $teal;
    height: auto;

    .section-heading{
        padding-top: 20px;
        color: $white;
    }

    .project{
        height: 33vw;
        border: 1px solid grey;
        padding: 20px;
        transition: all 1s ease;
        overflow: hidden;
        background-size: 100%;
        // background-position: center;

        &--chelsea{
            background-image: url('../img/project-bg-chelsea.jpg');

        }

        &--hackney{
            background-image: url('../img/project-bg-kensington.jpg');

        }

        &--brookGreen{
            background-image: url('../img/project-bg-fulham.jpg');
        }

        &:hover{
            background-size: 105%;

            .project-content-wrapper{
                transition: background-color 0.3s ease;
                background-color: rgba(255,255,255, 0.6);
            }
        }

    }

    .project-content-wrapper{
        height: 100%;
        width: 100%;
        display: table;
        transition: background-color 0.3s ease;
    }

    .project-content-container{
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .project__name{
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 6px;
    }

    .project__location{
        font-style: italic;
    }

    .projectLightBox{
        opacity: 0;
        transition: opacity 1s 0.2s ease;
    }

    // POP UP STYLING

    .lightboxActive{

         .projectLightBox{
            position: fixed !important;
            width: 100%;
            height: 100%;
            top: 0 !important;
            left: 0 !important;
            opacity: 1;
            display: block;
            z-index: 3;
            transition: 1s 0.2s opacity ease;
        }
    }

    .project-images-container{
        overflow-y: scroll;
        height: 100%;
        width: 100%;
    }

    .project-image {
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      border-top: 1px solid $teal;
    }

    .close-popup{
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 20;
        font-size: 30px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
    }

    .info-icon{
        position: fixed;
        left: 0px;
        top: 80px;
        z-index: 20;
        background-color: $teal;
        color: $white;
        opacity: 1;
        transition: opacity 0.3s ease;
        font-size: 30px;
        font-weight: bold;
        padding: 5px 20px;

    }

    .popup-hover-area{
        color: $white;
        height: 100%;
        left: 0;
        top: 0;
        min-width: 600px;
        position: fixed;
        z-index: 10;

        &:hover{
            .popup__panel{
                left: 0%;
                transition: all 1s ease;
            }

            .info-icon{
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }
    }

    .gold-line{
        margin: 30px 0;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }

    .popup{
        &__panel{
            background-color: $teal;
            position: absolute;
            width: 100%;
            height: 100%;
            left: -100%;
            transition: all 1s ease;
            z-index: 5;
        }

        &__content-wrapper{
            // padding: 150px 20px 100px;
            padding: 20px;

        }

        &__location{
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 6px;
        }

        &__name{
            text-transform: uppercase;
        }


        &__headings-container{
            width: 50%;
            display: inline-block;
            font-weight: bold;
        }

        &__content-container{
            width: 50%;
            vertical-align: top;
            display: inline-block;
        }

        &__sub-heading{
            vertical-align: top;
            text-transform: uppercase;
            letter-spacing: 6px;
            line-height: 1.5;
        }

        &__content{
            line-height: 1.5;


            &--list-container{
                margin: 0 20px;
            }
        }

        &__content--description{
            margin-top: 10px;
            position: relative;
        }
    }

    // CAROUSEL STYLING
    .slick-slider .slick-track, .slick-slider .slick-list{
        transform: none !important;
    }

    .slick-slider{
        margin-bottom: 0;
    }

    .slick-next{
        right: 25px;
        // color: black;

        // &:before{
        //     content: "next"
        // }
    }

    .slick-prev{
        left: 25px;
        z-index: 2;
        // color: black;

        // &:after{
        //     content: "prev"
        // }
    }

    @media #{$viewport-tablet}{



    }

    @media #{$viewport-small-mobile}{
        .project{
            width: 100%;
            height: 100vw;
        }

    }


}


//
//
// &-image-wrapper, .project-images-container{
//     height: 100%;
//     width: 100%;
// }
