/**
 * @module:   team
 * @js:       ./source/js/module/team/team.js
 * @html:     ./source/js/module/team/team.html
 */


@include module("team") {
    color: $teal;
    height: auto;

    .team-member-container{
        padding: 0 20px;
        padding-bottom: 80px;
        max-width: 1450px;
        margin: 0 auto;
    }

    .team-member{
        text-align: center;
    }

    .image{
        margin: 0 auto;
        width: 10vw;
        height: 10vw;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        border: 1px solid black;
        margin-bottom: 20px;


        &--tommy{
            background-image: url('../img/headshot-tommy.jpg');

        }
        &--skender{
            background-image: url('../img/headshot-skenda.jpg');
        }
        &--billy{
            background-image: url('../img/headshot-billy.jpg');
        }
    }

    .name{
        font-weight: bold;
    }

    .position{
        font-style: italic;
    }

    .dash{
        height: 5px;
        background-color: $gold;
        border: $teal;
        width: 20%;
        margin: 10px auto 20px;
    }

    .description{
        font-size: 13px;
        line-height: 1;
        padding: 0 20px;
    }

    @media #{$viewport-mobile}{
        .team-member{
            margin-top: 30px;
        }

        .image{
            height: 20vw;
            width: 20vw;
        }

        .section-heading--team{
            padding-bottom: 0;
        }
    }
}
