/**
 * @module:   testimonials
 * @js:       ./source/js/module/testimonials/testimonials.js
 * @html:     ./source/js/module/testimonials/testimonials.html
 */


@include module("testimonials") {
    height: auto;

    .section-heading{
        padding-top: 20px;
    }
    .testimonials-row{
        height: 33vw;

        &:hover{
            .testimonials-text-container{
                // border: solid 3px $white;
                // transition: 1s border ease;
            }
        }
    }

    .testimonials-parent{
        height: 100%;
        padding: 0;
        overflow: hidden;
    }

    .testimonials-img{
        height: 200%;
        position: relative;
        top: -100%;
        margin: 0;
        background-size: cover;
        background-position: center;

        &--chelsea{
            background-image: url('../img/bg-kitchen.jpg');
        }

        &--hackney{
            background-image: url('../img/bg-kitchenAndSittingRoom.jpg');
        }
    }

    .testimonials-text-wrapper{
        background-color: $light-teal;
        height: 100%;
        text-align: center;
        position: relative;
        padding: 30px;


    }

    .testimonials-text-container{
        position: relative;
        // transition: 1s opacity ease;
        height: 100%;
        border: solid 3px $white;
    }

    .testimonials-text-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .testimonials-title{
        font-weight: normal;
        margin-bottom: 20px;
    }

    .testimonials-quote{
        font-style: italic;
        line-height: 2;
    }

    @media #{$viewport-tablet}{
        #parallax2{
            display: none;
        }


        .testimonials-row{
            height: auto;
        }

        .testimonials-text-container{
            height: auto;
            display: block;
        }

        .testimonials-text-content{
            position: relative;
            height: auto;
            display: block;
            top: auto;
            left: auto;
            transform: none;
            padding: 20px 50px;
        }

        .testimonials-img{
            height: 50vw;
            transform: none !important;
            // display: none;
        }

    }

    @media #{$viewport-tablet}{
        .testimonials-text-content{
            padding: 20px 10px;
        }



    }
}
