/**
 * @module:   testimonials
 * @js:       ./source/js/module/testimonials/testimonials.js
 * @html:     ./source/js/module/testimonials/testimonials.html
 */


@include module("testimonials") {
    height: auto;

    .section-heading{
        padding-top: 20px;
    }
    .testimonials-row{
        height: 33vw;

        &:hover{
            .testimonials-text-container{
                // border: solid 3px $white;
                // transition: 1s border ease;
            }
        }
    }

    .testimonials-parent{
        height: 100%;
        padding: 0;
        overflow: hidden;
    }

    .testimonials-img{
        // height: 100%;
        height: 200%;
        position: relative;
        top: -100%;
        margin: 0;
        background-image: url('../img/bg-kitchen.jpg');
        background-size: cover;
        background-position: center;
        // background-size: cover;
        // background-position: center;
        // background-position: 0 0;
        // background-repeat: no-repeat;
    }

    .testimonials-text-wrapper{
        background-color: $light-teal;
        height: 100%;
        text-align: center;
        position: relative;
        padding: 30px;


    }

    .testimonials-text-container{
        position: relative;
        // transition: 1s opacity ease;
        height: 100%;
        border: solid 3px $white;
    }

    .testimonials-text-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .testimonials-title{
        font-weight: normal;
        margin-bottom: 20px;
    }

    .testimonials-quote{
        font-style: italic;
        line-height: 2;
    }

    @media #{$viewport-mobile}{
        .testimonials-row{
            height: auto;
        }

        .testimonials-text-content{
            position: relative;
        }

        .testimonials-img{
            height: 100vw
        }

    }
}
